.choice-question .image-background {
	background-image: url('../_static/images/choice-background.svg');
}


.choice-question, .choice-question .petlja-problem-box-icon-holder {
    background-color: #D9F2ED !important;
}

.choice-question label > span {
    margin-left: 10px;
    margin-top: 10px;
}

.qchoice-image {
    left: calc(50% - 14px);
    top: -26px;
    width: 31px;
}

@media (max-width: 600px) {
    .qchoice-image {
        left: calc(50% - 13px);
        top: -32px;
        width: 27px;
        height: 45px;
    }
    
}